<!DOCTYPE html>
<html>
    <head>
        <title> Kasitips </title>
        <link rel="icon" type="image/jpg" href="../Imagenes/icono2.jpg">
        <link rel="stylesheet" href=".np/stylesheets/Style_index.css">
        <link rel="stylesheet" href="../CSS/fonts.css">
        <meta charset="utf-8"> 
    <body>
        <h1>Guía Completa para Cuidar a tu Kasimerito</h1>
        <h2>Una guía específica de como cuidar a una psicópata suicida</h2>
        <p>
            Esta Guia fue desarrollada por cientificos y psicologos de alto renombre para el cuidado de tu Kasimerito.
        </p>
        <p>
            Definimos Kasimerito al amigo cercano que de una otra forma puede pasar al otro mundo en cualquier momento.
        </p>
        <h3> PASOS PARA MANTENER CON VIDA A TU POLLITO SUICIDA</h3>
        <ul>
            <li> Estar siempre al pendiente, ya sea por accidentes o por problemas de salud.</li>
        </ul>
        <h3> CONCLUSIÓN </h3>
        <p> En conclusión debes proteger a tu Kasimerito suicida a toda costa, ya que para el o ella le importa un pito.</p>
        <h4> Visitar Otras Secciones </h4>
        <a href="pagina_2.html" title="enlace"> Segunda Seccion </a> <br>
        <a href="pagina_4.html" title="enlace especial" target="_blank"> Seccion Especial </a> <br>
        <h4> Siguenos en nuestras Redes Sociales :D </h4>
        <a href="https://www.facebook.com/"> Facebook </a> <br>
        <a href="https://www.youtube.com/"> Youtube </a> <br>
        <a href="https://www.instagram.com/"> Instagram </a> 
        <h4> ¿Quieres ser parte de este gran equipo de investigación? </h4>
        <a href="Form.html" title="Formulario"> Presiona este enlace para ser parte de Nosotros </a>
    </body>
</html>