<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="./images/icon.png">
    <link rel="stylesheet" href="./stylesheets/Style_index.css">
    <title> Kasitips </title>
</head>
<body>
    <h1> KASITIPS </h1>
    <div class="cuadro">
        <div class="img_user"></div>
        <h2> Inicio de Sesión </h2>
        <form>
            <input class="campo" type="email" placeholder="Correo Electrónico" title="Correo">
            <input class="campo" type="password" placeholder="Contraseña" title="Contraseña">
            <button class="campo2" type="submit"> Iniciar sesión </button>
        </form>
        <div class="olvido">
            <a href=""> ¿Olvidaste tu Contraseña? </a> <br>
        </div>
        <div class="divisor"></div>
        <div class="crear">
            <button class="Crear-cuenta"> Crear cuenta nueva </button>
        </div>
    </div>
</body>
</html> 