<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="../images/iconito.ico">
    <link rel="stylesheet" href="./stylesheets/style_inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title> Reparatech login </title>
</head>
<body>
    <div class="user"> 
        <div class="cuadro">
            <div class="img_user"></div>
            <h2> Sesi칩n Administrador </h2>
            <form class="Form">
                <input class="campo" type="email" placeholder="Usuario" title="Complete este campo">
                <input class="campo" type="password" placeholder="Contrase침a" title="Complete este campo">
                <button class="campo2" type="submit"> Iniciar sesi칩n </button>
                <button class="sesion_google" type="submit"> <i class="fab fa-google"></i> Iniciar sesi칩n con Google</button>
            </form>
        </div>
    </div>
</body>
</html>