<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="../images/iconito.ico">
    <link rel="stylesheet" href="../stylesheets/style_mensaje_exito_fallo.css">
    <link rel="stylesheet" href="../stylesheets/styles_index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title> <%= __('pago_title_error') %> </title>
</head>
<body>
    <%- include("template/navbar")%>
    <main>
        <div class="<%= __('img_pago_fallo') %>"></div>"></div>
    </main>
    <%- include("template/footer")%>
</body>
</html>