<!DOCTYPE html>
<html>
    <head>
        <title> Kasitips</title>
        <link rel="icon" tipe="image7jpg" href="../Imagenes/icono2.jpg">
        <link rel="stylesheet" href=".np/stylesheets/Style_index.css">
        <link rel="stylesheet" href="../CSS/fonts.css">
    </head>
    
    <h1> Te he hecho saltar de Pagina :D </h1>
    <p> JAAJAJAJAJAJAJAJAJAJ HOLA :D</p>
    <h2> La Kasimerito Estrella </h2>
    <img src="../Imagenes/kasimerito.jpg" alt="No cargo XD" title="Una psicopata suicida junto con su amigo">