<!DOCTYPE html>
<html>
    <head>
        <title> Kasitips </title>
        <link rel="icon" type="image/jpg" href="../Imagenes/icono2.jpg">
        <link rel="stylesheet" href=".np/stylesheets/Style_index.css">
        <link rel="stylesheet" href="../CSS/fonts.css">
    </head>
    <body>
        
        <h2> Bienvido a la tercera sección de Kasitips :D </h2>
        <a href="pagina_2.html" title="enlace"> Segunda Seccion </a>
        <a href="index.html" title="enlace"> Primera Seccion </a> <br>
        <a href="pagina_4.html" title="enlace especial" target="_blank"> Seccion Especial </a> 
        
        <h4> Siguenos en nuestras Redes Sociales :D </h4>
        <a href="https://www.facebook.com/"> Facebook </a> <br>
        <a href="https://www.youtube.com/"> Youtube </a> <br>
        <a href="https://www.instagram.com/"> Instagram </a> 
    </body>
</html>