<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style_panel.css">
    <link rel="icon" type="image/ico" href="../images/iconito.ico">
    <title> Reparatech Admin </title>
</head>
<body>
    <%- include("template/navbar_admin")%>
    <div class="panel">
        <div class="contactos">
            <div class="f_contacto"></div>
            <a href="/login/admin/contacts"><button> Contactos </button></a>
        </div>
        <div class="pagos">
            <div class="f_pago"></div>
            <a href="/login/admin/payments"><button> Pagos </button></a>
        </div>
    </div>
</body>
</html>