@font-face {
    font-family: "DynaPuff";
    src: url("fonts/static/DynaPuff-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AbsolutePink";
    src: url("fonts/AbsolutePink/Absolute\ Pink\ -\ Personal\ Use.otf") format("opentype");
}