*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: sans-serif, Arial, Helvetica;
    padding: 0;
    margin: 0;
    padding-right: 0;
    color:#09446d;
    background-size: cover;
    overflow-x: hidden;
    background-color: #e1f2ff;
}

header{
    display:flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
    z-index: 2000;
    background-color: rgba(9, 68, 109, 0.95); /* Color base con 80% de opacidad */
    box-shadow:  0 0px 40px 0 #2a2a2a;
}

/*LOGOTIPO*/
.logotipo {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.logotipo img {
    width: 60px;
    height: 60px;
    margin-right: 0.5rem;
}

/*Nombre*/
.logotipo a {
    font-size: 1.3rem;
    font-weight: bold;
    color: #f8f9fa;
    text-decoration: none;
}


/*BARRA DE NAVEGACION*/

.barra-navegacion {
    width: auto;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    position: flex-end;
    top: 0;
    left:0;
    z-index: 1000;
}

.links-nav{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.2rem;
    left: 0;
    justify-content: center;
    align-items: center;
}

.links-nav a{
    text-decoration: none;
    color:white;
}

li {
    list-style-type: none;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 10vw;
}

.contactos, .pagos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 500px;
    gap: 10px;
}

.f_contacto{
    width: 100%;
    height: 70%;
    background-image: url(../images/imagen_contacto.jpg);
    background-size: cover;
    border-radius: 20px;
    
}

.f_pago{
    width: 100%;
    height: 70%;
    background-image: url(../images/imagen_form_pago.jpg);
    background-size: cover;
    border-radius: 20px;
    
}

.contactos button, .pagos button{
    width: 350px;
    height: 1.5cm;
    padding: 0.25cm;
    background-color:  #7ca7c9;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 700;
    border-color: transparent;
    color: #09446d
}

button:focus{
    border: 1px solid   #b0d4eb;
    background-color:  #b0d4eb;
}

/*Panel de Contactos y Pagos*/

.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    gap: 5px;
}

h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 100px
}

.tabla{
    border: 0.2rem solid #09446d;
    border-collapse: collapse;
    text-align: center;
    font-weight: 700;
}

td, th{
    border: 0.2rem solid #09446d;
}

th{
    padding: 8px;
}

td{
    padding-left: 10px;
    padding-right: 10px;
}

.filtros{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin-bottom: 10px;
}

/*Barra de  busqueda*/

.busqueda{
    width: 500px;
    border: 2px solid black;
    border-radius:5px;
    outline: none;
    height: 1cm;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1rem;
    padding: 0.4cm;
    margin: 0.25cm 0;
    background: white;
    outline: none;
}


.campos{
    width: 200px;
    border: 2px solid black;
    border-radius:5px;
    height: 0.8cm;
    
    font-size: 0.8rem;
    padding: 0.05cm;
    margin-bottom: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #09446d;
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-family: sans-serif, Arial, Helvetica;
}







@media (max-width: 800px) and (orientation: portrait){
    .panel{
        flex-direction: column;
        align-content: center;
    }

    .linknone{
        display: none;
    }
}