/*Estilo general*/
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: sans-serif, Arial, Helvetica;
    padding: 0;
    margin: 0;
    padding-right: 0;
    overflow-x: hidden;
}

/*ENCABEZADO*/

header{
    display:flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
    z-index: 2000;
    background-color: rgba(9, 68, 109, 0.95); /* Color base con 80% de opacidad */
    box-shadow:  0 0px 40px 0 #2a2a2a;
}


/*LOGOTIPO*/
.logotipo {
    width: auto;
    height: auto; 
    padding: 0 0 5px 5px;
    display: flex;
    align-items: center;
}

.logotipo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

/*Nombre*/
.logotipo a {
    font-size: 20pt;
    font-weight: bold;
    color: #f8f9fa;
    text-decoration: none;
}

/*BARRA DE NAVEGACION*/

.barra-navegacion {
    width: 45vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: flex-end;
    top: 0;
    left:0;
    z-index: 1000;
}

.links{
    display:flex;
    flex-direction: row;
    gap: 40px;
    padding: 3px;
    margin: 5px;
    margin-right: 20px;
}

.links a{
    text-decoration: none;
    color:white;
}

li {
    list-style-type: none;
}

/*SECCIONES*/ 

/*SECCION1*/

.seccion1-home{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}

.imagen1{
    width: 70%;
    height: 100%;
    background-image: url(../Pictures/imagen1.jpg);
    background-size: cover;
}

.cuadrotext1{ 
    display: block;
    bottom: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position:absolute;
    /*position: relative;*/
    right:0; 
    padding: 1vw;
    margin-top: 9vh;
}

.cuadrotext1 h1{
    font-size: 35pt;
    margin-top: 35%;
    color:#09446d;
}

.cuadrotext1 p{
    font-size: 20pt;
    text-align: justify;

}

.cuadrotext1 button{
    border: 2px solid #09446d ;
    width: 11vw;
    height: 6vh;
    text-align: center;
    font-size: 12pt;
    margin: auto;
    background-color: #09446d ;
    color: white;
    margin-top: 25px
}

.cuadrotext1 button:hover{
    background-color: transparent;
    color: #09446d ;
}

/*SECCION2*/

.seccion2-acercade{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 80vh;
    background-color: #e0e9f0 ;
    padding: 40px;
    margin: 0;
    grid-column-gap: 25px;

}

.cuadrotext2{
    color: black;    
}

.cuadrotext2 h2{
    font-weight: 800;
    font-size: 30pt;
    color: #09446d;
}

.cuadrotext2 p{
    font-size: 15pt;
    line-height: 1.5;
    margin-bottom: 10px;

}

.imagen2 img{
    width: 100%;
    height: auto;
    box-shadow:  0 0px 20px 0 #2a2a2a;
}


/*SECCION3*/

.seccion3-beneficios{
    display: flex;
    width: 100%;
    height: 80vh;
    margin: 0;
}

.imagen3{
    width: 60%;
    height: 80vh;
    background-image: url(../Pictures/imagen3.avif);
    background-size: cover;
}

.cuadrotext3{
    display: block;
    width: 50%;
    height: 80vh;
    background-color: #09446d;
}

.cuadrotext3 div{
    width: auto;
    height: auto;
    padding: 20px;
    margin-top: 2vh;
}

.cuadrotext3 div{
    display: block;
    font-size: 18pt;
    line-height: 1.5;
    color: #e0e9f0;
}

.cuadrotext3 h2{
    text-align: center;
    font-weight: 800;
}

.cuadrotext3 div ol{
    line-height: 2.5;
    text-align: justify;
}


/*SECCION 4*/

.seccion4-servicios{
    display: grid;
    grid-template-areas:
        ". titulo ."
        "bloque1 bloque2 bloque3";
    grid-row-gap: 0;
    grid-column-gap: 20px;
    width: 100%;
    height: 100vh;
    background-image: url(../Pictures/imagen4.jpg);
    text-align: justify;
    justify-items: center;
    align-items: center;
    background-size: cover;
    margin: 0;
}

.seccion4-servicios h2{
    text-align: center;
    grid-area: titulo;
    text-align: center;
    font-size: 30pt;
    font-weight: 800;
    text-decoration: underline;
    color:#09446d;
}

.tarjetas {
    width: 350px;
    height: 470px;
    background-color: #09446d;
    border-radius: 20px;
}

.tarjetas img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.tarjetas h3{
    text-align: center;
    color: #e0e9f0
}

#bloque1{
    grid-area: bloque1;
}

#bloque2{
    grid-area: bloque2;
}

#bloque3{
    grid-area: bloque3;
}

.tarjetas p{
    padding: 15px;
    text-align: center;
    font-size: 12.5pt;
    color: #e0e9f0;
}



/*SECCION 5*/

.seccion5-testimonios{
    display: flex;
    width: 100%;
    height: 80vh;
}

.cuadrotext5{
    display: block;
    width: 50%;
    height: 80vh;
    background-color: #09446d;
}

.cuadrotext5 div{
    width: auto;
    height: auto;
    padding: 20px;
}

.cuadrotext5 div{
    display: block;
    font-size: 18pt;
    line-height: 1.5;
    color: #e0e9f0;
}


.imagen5{
    width: 60%;
    height: 80vh;
    background-image: url(../Pictures/imagen5.jpg);
    background-size: cover;
    margin: 0;
}


.cuadrotext5 div h2{
    text-align: center;
    font-weight: 800;
}

.nom_testigos{
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

.estrellas{
    text-align: center;
    color: #f7c02d ;
}




/*SECCION 6*/

.seccion6-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #e1f2ff;
    margin: 0;
}

.contacto{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}


.Formulario{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 50vh;
    margin: auto;
}


.campo, .mensaje {
    width: 100%;
    border: 1px solid black;
    border-radius:5px;
}

.campo, .mensaje, .summit {
    outline: none;
    height: 1.2;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 12pt;
    padding: 0.4cm;
    margin: 0.2cm 0;
    font-size: 12pt;
}


.campo:focus, .mensaje:focus{
    border: 2px solid #09446d;
    box-shadow: 0 0 5px  #09446d;
}

.seccion6-contacto h2{
    text-align: center;
    font-size: 25pt;
    margin-top: 50px;
    font-weight: 700;
    text-decoration: underline;
    color:#09446d;
}

.mensaje{
    resize: none;
    height: 4cm;
}

.summit{
    width: 3cm;
    height: 1.2cm;
    border: 1px solid #09446d;
    text-align: center;
    margin: auto;
    background-color: #09446d;
    color:#e1f2ff;
    border-radius:5px;
    margin-top: 10px;
}

.summit:focus{
    border: 1px solid  #145987;
    background-color: #145987;
}

.Informacion {
    padding: 20px;
    text-align: center;
    width: 400px;
    font-size: 13pt;
    color:#09446d;
}


.direccion {
    font-size: 12pt;
}

.correo, .telefono, .horario {
    font-size: 12pt;
    text-decoration: none;
    color:#09446d;
    line-height: 3.0;
}

.correo:hover, .telefono:hover{
    text-decoration: underline;
}



/*PIE DE PAGINA*/

footer{
    bottom: 0;
    padding: 20px;
    font-size: 16pt;
    text-align: center;
    background-color: #001F3F;    ;
    color: #e1f2ff;
    width: 100%;
    margin: 0 auto;
}

.social-iconos a {
    margin: 0 10px;
    display: inline-block;
}

.social-iconos img {
    width: 30px; 
    height: 30px;
}






/*Responsive para celular y tablet*/



/*@media (max-width: 450px){

    body{
        overflow-x: hidden;
    }

    .block {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Oculta el scroll horizontal */
    /*}
    header{
        width: 100vw;
        overflow-x: hidden;
        position: fixed;
    }

    .barra-navegacion{
        width: 0;
    }

    .seccion-inicio{
        overflow-x: hidden;
    }

    .image-inicio{
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
    }

    .cuadro{
        width: 80%;
        height: auto;
        position: absolute;
        top: 0;
        padding:0;
        margin: auto;
        margin-left: 1%;
        left: 0;
        
    }
    h1 {
        font-size: 20pt;
        text-align: center;
    }

    .text-inicio{
        font-size: 12pt;
        text-align: center;
    }
    .butt-contacto {
        display:block;
        width: 70vw;
        font-size: 14pt;
        margin: 0 auto;
    }
}

/*@media screen and (orientation: landscape){
    h1 {
        font-size: 20pt;
        text-align: center;
    }

    .text-inicio {
        font-size: 12pt;
        text-align: center;
    }
    .butt-contacto {
        display:block;
        width: 11vw;
        font-size: 6pt;
        margin: 0 auto;
    }
}*/



