<header>
    <div class="logotipo">
        <img loading="lazy" class="logo" src="../images/icono_barra.ico" alt="logo">
        <a class="titulo-nav" href="/#home"> REPARATECH </a>
    </div>
    <nav class="barra-navegacion">
        <ul class="links-nav">
            <li class="linknone"> <a href="#home"> Home </a> </li>
            <li class="linknone"> <a href="#acercade"> Acerca De </a> </li>
            <li class="linknone"> <a href="#servicios"> Servicios </a> </li>
            <li class="linknone"> <a href="#testimonios"> Testimonios </a> </li>
            <li class="linknone"> <a href="#contacto"> Contacto </a> </li>
            <li> <a href="/login"> <i class="material-icons">vpn_key</i> </a></li>
        </ul>
    </nav>
</header>