<header>
    <div class="logotipo">
        <img loading="lazy" class="logo" src="../images/icono_barra.ico" alt="logo">
        <a class="titulo-nav" href="/#home"> REPARATECH </a>
    </div>
    <nav class="barra-navegacion">
        <ul class="links-nav">
            <li> <a href="/#home"> Home </a> </li>
            <li> <a href="/#acercade"> Acerca De </a> </li>
            <li> <a href="/#servicios"> Servicios </a> </li>
            <li> <a href="/#testimonios"> Testimonios </a> </li>
            <li> <a href="/#contacto"> Contacto </a> </li>
            <li> <a href="/login/logout"> <i class="material-icons">vpn_key</i> </a></li>
        </ul>
    </nav>
</header>