<header>
    <div class="logotipo">
        <img loading="lazy" class="logo" src="../images/icono_barra.ico" alt="logo">
        <a class="titulo-nav" href="/login/admin"> REPARATECH </a>
    </div>
    <nav class="barra-navegacion">
        <ul class="links-nav">
            <li class="linknone"> <a href="/login/admin/contacts"> <%= __('admin_contactos') %>  </a> </li>
            <li class="linknone"> <a href="/login/admin/payments"> <%= __('admin_pagos') %> </a> </li>
            <li> <a href="/login/logout"> <%= __('Salir') %> </a> </li>
        </ul>
    </nav>
</header>